* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;

}

.header {
    padding-top: 100px;
    background: #000;
    height: 955px;

}

.wrapper {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    background: #817f7f;




    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 20px;
}

.inp {
    display: block;
    padding: 10px 70px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    border-radius: 20px;
    border: none;
}

.btn {
    display: block;
    padding: 10px 50px;
    margin: 0 auto;
    margin-top: 20px;
    outline: none;
    border-radius: 20px;
    color: #000000;
    border: none;
}